* {
    font-family: Hack;
    font-size: 12px;
    font-weight: bold;
    border-radius: 10px;
}

window#waybar {
    background-color: transparent;
    color: #ebdbb2;
}

#workspaces button {
    padding: 0 10px 0 10px;
    color: #FFFFFF;
}

#workspaces button.active {
    background-color: #8ec07c;
    padding: 0 10px 0 10px;
    color: #282828;
}

.modules-left {
    padding-left: 10px;
    padding-right: 10px;
}

.modules-right {
    padding-right: 20px;
    padding-left: 20px;
}

.modules-center {
    background-color: #282828;
}

#clock {
    padding-right: 20px;
    padding-left: 20px;
    background-color: #282828;
    color: #FFFFFF;
}

#network {
    padding-right: 20px;
    padding-left: 20px;
    background-color: #282828;
    color: #d3869b;
}

#wireplumber {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: 15px;
    background-color: #282828;
    color: #fabd2f;
}
